<h1>Editing user</h1>


<div class = "depot_form">
	<fieldset>
		<legend>
			Please Enter The Details
		</legend>
<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

	</fieldset>
</div>