<h1>Editing advertisement</h1>

<div class = "depot_form">
	<fieldset>
		<legend>
			Edit Advertisement
		</legend>
		<%= render 'form' %>

		<%= link_to 'Show', @advertisement %> |
		<%= link_to 'Back', advertisements_path %>
	</fieldset>

</div>
