<h1>New advertisement</h1>

<div class = "depot_form">
	<fieldset>
		<legend>
			New Advertisement
		</legend>
		<%= render 'form' %>
		<%= link_to 'Back', advertisements_path %>
	</fieldset>

</div>
