<h1><%= t('.new_ad') %></h1>

<div class = "depot_form">
	<fieldset>
		<legend>
			<%= t('.new_ad') %>
		</legend>
		<%= render 'form' %>
		<%= link_to t('.back'), advertisements_path %>
	</fieldset>

</div>
