<h1>Editing news</h1>
<div class = "depot_form">
	<fieldset>
		<legend>
			Edit News
		</legend>
		<%= render 'form' %>

		<%= link_to 'Show', @news %> |
		<%= link_to 'Back', news_index_path %>
	</fieldset>
</div>
