
<h1>News</h1>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Content:</b>
  <%= @news.content %>
</p>

<p>
  <b>Abstraction:</b>
  <%= @news.abstraction %>
</p>


<%= link_to 'Back', store_url%>
