<h1><%= t('.new_type') %></h1>

<div class = "depot_form">
	<fieldset>
		<legend>
			<%= t('.enter_type') %>
		</legend>
		<%= render 'form' %>
		<%= link_to t('.back'), book_types_path %>
	</fieldset>
</div>
