<h1>Editing product</h1>
<div class = "depot_form">
	<fieldset>
		<legend>
			Please Enter The Details
		</legend>
		<%= render 'form' %>

		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_url %>
	</fieldset>
</div>